<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <style>
        body {
            background-color: white;
        }
    </style>

    <script src="../htmlwidgets/htmlwidgets.js" ></script>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css" />
    <script src="../vis/vis.min.js"></script>
    <script src="../vis/visNetwork.js"></script>   
    
    <title>visNetwork</title>
</head>

<body>
    <div id="htmlwidget_container">
        <div id="htmlwidget-87952b717e5c55e28655" style="width:100%;height:1000px;" class="visNetwork html-widget">
        </div>
    </div>
    <script type="application/json" data-for="htmlwidget-87952b717e5c55e28655">
  {
    "x": {
        "nodes": {
            "id": [
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "RABBIT NIGHT LIGHT",
                "RED RETROSPOT MINI CASES",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "SET/6 RED SPOTTY PAPER CUPS"
            ],
            "PROD_ID": [
                703,
                712,
                951,
                953,
                956,
                982,
                1030,
                1056,
                1120,
                1266
            ],
            "PRODUCT": [
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "RABBIT NIGHT LIGHT",
                "RED RETROSPOT MINI CASES",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "SET/6 RED SPOTTY PAPER CUPS"
            ],
            "x": [
                1,
                0.809016994374947,
                0.309016994374947,
                -0.309016994374947,
                -0.809016994374947,
                -1,
                -0.809016994374948,
                -0.309016994374948,
                0.309016994374947,
                0.809016994374947
            ],
            "y": [
                0,
                0.618033988749895,
                1,
                1,
                0.618033988749895,
                2.22044604925031e-016,
                -0.618033988749895,
                -1,
                -1,
                -0.618033988749895
            ],
            "label": [
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "RABBIT NIGHT LIGHT",
                "RED RETROSPOT MINI CASES",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "SET/6 RED SPOTTY PAPER CUPS"
            ]
        },
        "edges": {
            "from": [
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "RABBIT NIGHT LIGHT",
                "RED RETROSPOT MINI CASES",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "SET/6 RED SPOTTY PAPER CUPS",
                "LUNCH BAG RED RETROSPOT",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "RABBIT NIGHT LIGHT",
                "RED RETROSPOT MINI CASES",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "SET/6 RED SPOTTY PAPER CUPS",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "RABBIT NIGHT LIGHT",
                "RED RETROSPOT MINI CASES",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "SET/6 RED SPOTTY PAPER CUPS",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "RABBIT NIGHT LIGHT",
                "RED RETROSPOT MINI CASES",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "SET/6 RED SPOTTY PAPER CUPS",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN SPACEBOY",
                "RABBIT NIGHT LIGHT",
                "RED RETROSPOT MINI CASES",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "SET/6 RED SPOTTY PAPER CUPS",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "RED RETROSPOT MINI CASES",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "SET/6 RED SPOTTY PAPER CUPS",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "RABBIT NIGHT LIGHT",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "SET/6 RED SPOTTY PAPER CUPS",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "RABBIT NIGHT LIGHT",
                "RED RETROSPOT MINI CASES",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "SET/6 RED SPOTTY PAPER CUPS",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "RABBIT NIGHT LIGHT",
                "RED RETROSPOT MINI CASES",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "SET/6 RED SPOTTY PAPER CUPS",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "RABBIT NIGHT LIGHT",
                "RED RETROSPOT MINI CASES",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "ROUND SNACK BOXES SET OF4 WOODLAND"
            ],
            "to": [
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "RABBIT NIGHT LIGHT",
                "RABBIT NIGHT LIGHT",
                "RABBIT NIGHT LIGHT",
                "RABBIT NIGHT LIGHT",
                "RABBIT NIGHT LIGHT",
                "RABBIT NIGHT LIGHT",
                "RABBIT NIGHT LIGHT",
                "RABBIT NIGHT LIGHT",
                "RABBIT NIGHT LIGHT",
                "RED RETROSPOT MINI CASES",
                "RED RETROSPOT MINI CASES",
                "RED RETROSPOT MINI CASES",
                "RED RETROSPOT MINI CASES",
                "RED RETROSPOT MINI CASES",
                "RED RETROSPOT MINI CASES",
                "RED RETROSPOT MINI CASES",
                "RED RETROSPOT MINI CASES",
                "RED RETROSPOT MINI CASES",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "SET/6 RED SPOTTY PAPER CUPS",
                "SET/6 RED SPOTTY PAPER CUPS",
                "SET/6 RED SPOTTY PAPER CUPS",
                "SET/6 RED SPOTTY PAPER CUPS",
                "SET/6 RED SPOTTY PAPER CUPS",
                "SET/6 RED SPOTTY PAPER CUPS",
                "SET/6 RED SPOTTY PAPER CUPS",
                "SET/6 RED SPOTTY PAPER CUPS",
                "SET/6 RED SPOTTY PAPER CUPS"
            ],
            "width": [
                2,
                1.2,
                1.6,
                1.5,
                1.3,
                1.2,
                1.5,
                1.4,
                0.7,
                2,
                1.9,
                1.4,
                1.7,
                1.3,
                2,
                1.4,
                1.7,
                1.2,
                1.2,
                1.9,
                3.5,
                4,
                1.6,
                2,
                2,
                2.1,
                1.2,
                1.6,
                1.4,
                3.5,
                4.1,
                1,
                1.7,
                1.3,
                1.8,
                0.9,
                1.5,
                1.7,
                4,
                4.1,
                1.5,
                1.7,
                2.1,
                1.9,
                1.4,
                1.3,
                1.3,
                1.6,
                1,
                1.5,
                1.2,
                2.1,
                1.5,
                0.5,
                1.2,
                2,
                2,
                1.7,
                1.7,
                1.2,
                1.6,
                2,
                0.8,
                1.5,
                1.4,
                2,
                1.3,
                2.1,
                2.1,
                1.6,
                1.4,
                0.9,
                1.4,
                1.7,
                2.1,
                1.8,
                1.9,
                1.5,
                2,
                1.4,
                1.3,
                0.7,
                1.2,
                1.2,
                0.9,
                1.4,
                0.5,
                0.8,
                0.9,
                1.3
            ],
            "label": [
                20,
                12,
                16,
                15,
                13,
                12,
                15,
                14,
                7,
                20,
                19,
                14,
                17,
                13,
                20,
                14,
                17,
                12,
                12,
                19,
                35,
                40,
                16,
                20,
                20,
                21,
                12,
                16,
                14,
                35,
                41,
                10,
                17,
                13,
                18,
                9,
                15,
                17,
                40,
                41,
                15,
                17,
                21,
                19,
                14,
                13,
                13,
                16,
                10,
                15,
                12,
                21,
                15,
                5,
                12,
                20,
                20,
                17,
                17,
                12,
                16,
                20,
                8,
                15,
                14,
                20,
                13,
                21,
                21,
                16,
                14,
                9,
                14,
                17,
                21,
                18,
                19,
                15,
                20,
                14,
                13,
                7,
                12,
                12,
                9,
                14,
                5,
                8,
                9,
                13
            ]
        },
        "nodesToDataframe": true,
        "edgesToDataframe": true,
        "options": {
            "width": "100%",
            "height": "100%",
            "nodes": {
                "physics": false,
                "shape": "none",
                "color": {
                    "background": "#0085AF",
                    "border": "#013848",
                    "highlight": "#FF8000"
                },
                "font": {
                    "size": 15
                }
            },
            "manipulation": {
                "enabled": false
            },
            "edges": {
                "smooth": false,
                "hoverWidth": 0.8,
                "font": {
                    "size": 20,
                    "color": "black",
                    "opacity": 1
                },
                "shadow": false
            },
            "physics": {
                "stabilization": false
            },
            "interaction": {
                "hideEdgesOnDrag": true,
                "keyboard": true,
                "multiselect": true,
                "navigationButtons": true
            }
        },
        "groups": null,
        "width": "100%",
        "height": "1000px",
        "idselection": {
            "enabled": false,
            "style": "width: 150px; height: 26px",
            "useLabels": true,
            "main": "Select by id"
        },
        "byselection": {
            "enabled": true,
            "style": "width: 150px; height: 26px",
            "multiple": true,
            "hideColor": "rgba(200,200,200,0.5)",
            "highlight": true,
            "variable": "PRODUCT",
            "main": "Select by PRODUCT",
            "values": [
                "LUNCH BAG RED RETROSPOT",
                "LUNCH BOX WITH CUTLERY RETROSPOT",
                "PLASTERS IN TIN CIRCUS PARADE",
                "PLASTERS IN TIN SPACEBOY",
                "PLASTERS IN TIN WOODLAND ANIMALS",
                "RABBIT NIGHT LIGHT",
                "RED RETROSPOT MINI CASES",
                "RED TOADSTOOL LED NIGHT LIGHT",
                "ROUND SNACK BOXES SET OF4 WOODLAND",
                "SET/6 RED SPOTTY PAPER CUPS"
            ]
        },
        "main": {
            "text": "Products sharing transactions",
            "style": "font-family:Georgia, Times New Roman, Times, serif;font-weight:bold;font-size:20px;text-align:center;"
        },
        "submain": {
            "text": "Link indicates how many transactions each product shared",
            "style": "font-family:Georgia, Times New Roman, Times, serif;font-size:12px;text-align:center;"
        },
        "footer": null,
        "background": "rgba(0, 0, 0, 0)",
        "igraphlayout": {
            "type": "square"
        },
        "highlight": {
            "enabled": true,
            "hoverNearest": false,
            "degree": 0,
            "algorithm": "all",
            "hideColor": "rgba(200,200,200,0.5)",
            "labelOnly": true
        },
        "collapse": {
            "enabled": false,
            "fit": false,
            "resetHighlight": true,
            "clusterOptions": null,
            "keepCoord": true,
            "labelSuffix": "(cluster)"
        },
        "legend": {
            "width": 0.1,
            "useGroups": true,
            "position": "left",
            "ncol": 1,
            "stepX": 100,
            "stepY": 100,
            "zoom": false
        },
        "tooltipStay": 300,
        "tooltipStyle": "position: fixed;visibility:hidden;padding: 5px;white-space: nowrap;font-family: verdana;font-size:14px;font-color:#000000;background-color: #f5f4ed;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;border: 1px solid #808074;box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);"
    },
    "evals": [],
    "jsHooks": []
}</script>
    <script type="application/htmlwidget-sizing" data-for="htmlwidget-87952b717e5c55e28655">
    {
        "x": {
            "nodes": {
                "id": [
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "RABBIT NIGHT LIGHT",
                    "RED RETROSPOT MINI CASES",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "SET/6 RED SPOTTY PAPER CUPS"
                ],
                "PROD_ID": [
                    703,
                    712,
                    951,
                    953,
                    956,
                    982,
                    1030,
                    1056,
                    1120,
                    1266
                ],
                "PRODUCT": [
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "RABBIT NIGHT LIGHT",
                    "RED RETROSPOT MINI CASES",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "SET/6 RED SPOTTY PAPER CUPS"
                ],
                "x": [
                    1,
                    0.809016994374947,
                    0.309016994374947,
                    -0.309016994374947,
                    -0.809016994374947,
                    -1,
                    -0.809016994374948,
                    -0.309016994374948,
                    0.309016994374947,
                    0.809016994374947
                ],
                "y": [
                    0,
                    0.618033988749895,
                    1,
                    1,
                    0.618033988749895,
                    2.22044604925031e-016,
                    -0.618033988749895,
                    -1,
                    -1,
                    -0.618033988749895
                ],
                "label": [
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "RABBIT NIGHT LIGHT",
                    "RED RETROSPOT MINI CASES",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "SET/6 RED SPOTTY PAPER CUPS"
                ]
            },
            "edges": {
                "from": [
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "RABBIT NIGHT LIGHT",
                    "RED RETROSPOT MINI CASES",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "LUNCH BAG RED RETROSPOT",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "RABBIT NIGHT LIGHT",
                    "RED RETROSPOT MINI CASES",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "RABBIT NIGHT LIGHT",
                    "RED RETROSPOT MINI CASES",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "RABBIT NIGHT LIGHT",
                    "RED RETROSPOT MINI CASES",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN SPACEBOY",
                    "RABBIT NIGHT LIGHT",
                    "RED RETROSPOT MINI CASES",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "RED RETROSPOT MINI CASES",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "RABBIT NIGHT LIGHT",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "RABBIT NIGHT LIGHT",
                    "RED RETROSPOT MINI CASES",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "RABBIT NIGHT LIGHT",
                    "RED RETROSPOT MINI CASES",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "RABBIT NIGHT LIGHT",
                    "RED RETROSPOT MINI CASES",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "ROUND SNACK BOXES SET OF4 WOODLAND"
                ],
                "to": [
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "RABBIT NIGHT LIGHT",
                    "RABBIT NIGHT LIGHT",
                    "RABBIT NIGHT LIGHT",
                    "RABBIT NIGHT LIGHT",
                    "RABBIT NIGHT LIGHT",
                    "RABBIT NIGHT LIGHT",
                    "RABBIT NIGHT LIGHT",
                    "RABBIT NIGHT LIGHT",
                    "RABBIT NIGHT LIGHT",
                    "RED RETROSPOT MINI CASES",
                    "RED RETROSPOT MINI CASES",
                    "RED RETROSPOT MINI CASES",
                    "RED RETROSPOT MINI CASES",
                    "RED RETROSPOT MINI CASES",
                    "RED RETROSPOT MINI CASES",
                    "RED RETROSPOT MINI CASES",
                    "RED RETROSPOT MINI CASES",
                    "RED RETROSPOT MINI CASES",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "SET/6 RED SPOTTY PAPER CUPS",
                    "SET/6 RED SPOTTY PAPER CUPS"
                ],
                "width": [
                    2,
                    1.2,
                    1.6,
                    1.5,
                    1.3,
                    1.2,
                    1.5,
                    1.4,
                    0.7,
                    2,
                    1.9,
                    1.4,
                    1.7,
                    1.3,
                    2,
                    1.4,
                    1.7,
                    1.2,
                    1.2,
                    1.9,
                    3.5,
                    4,
                    1.6,
                    2,
                    2,
                    2.1,
                    1.2,
                    1.6,
                    1.4,
                    3.5,
                    4.1,
                    1,
                    1.7,
                    1.3,
                    1.8,
                    0.9,
                    1.5,
                    1.7,
                    4,
                    4.1,
                    1.5,
                    1.7,
                    2.1,
                    1.9,
                    1.4,
                    1.3,
                    1.3,
                    1.6,
                    1,
                    1.5,
                    1.2,
                    2.1,
                    1.5,
                    0.5,
                    1.2,
                    2,
                    2,
                    1.7,
                    1.7,
                    1.2,
                    1.6,
                    2,
                    0.8,
                    1.5,
                    1.4,
                    2,
                    1.3,
                    2.1,
                    2.1,
                    1.6,
                    1.4,
                    0.9,
                    1.4,
                    1.7,
                    2.1,
                    1.8,
                    1.9,
                    1.5,
                    2,
                    1.4,
                    1.3,
                    0.7,
                    1.2,
                    1.2,
                    0.9,
                    1.4,
                    0.5,
                    0.8,
                    0.9,
                    1.3
                ],
                "label": [
                    20,
                    12,
                    16,
                    15,
                    13,
                    12,
                    15,
                    14,
                    7,
                    20,
                    19,
                    14,
                    17,
                    13,
                    20,
                    14,
                    17,
                    12,
                    12,
                    19,
                    35,
                    40,
                    16,
                    20,
                    20,
                    21,
                    12,
                    16,
                    14,
                    35,
                    41,
                    10,
                    17,
                    13,
                    18,
                    9,
                    15,
                    17,
                    40,
                    41,
                    15,
                    17,
                    21,
                    19,
                    14,
                    13,
                    13,
                    16,
                    10,
                    15,
                    12,
                    21,
                    15,
                    5,
                    12,
                    20,
                    20,
                    17,
                    17,
                    12,
                    16,
                    20,
                    8,
                    15,
                    14,
                    20,
                    13,
                    21,
                    21,
                    16,
                    14,
                    9,
                    14,
                    17,
                    21,
                    18,
                    19,
                    15,
                    20,
                    14,
                    13,
                    7,
                    12,
                    12,
                    9,
                    14,
                    5,
                    8,
                    9,
                    13
                ]
            },
            "nodesToDataframe": true,
            "edgesToDataframe": true,
            "options": {
                "width": "100%",
                "height": "100%",
                "nodes": {
                    "physics": false,
                    "shape": "none",
                    "color": {
                        "background": "#0085AF",
                        "border": "#013848",
                        "highlight": "#FF8000"
                    },
                    "font": {
                        "size": 15
                    }
                },
                "manipulation": {
                    "enabled": false
                },
                "edges": {
                    "smooth": false,
                    "hoverWidth": 0.8,
                    "font": {
                        "size": 20,
                        "color": "black",
                        "opacity": 1
                    },
                    "shadow": false
                },
                "physics": {
                    "stabilization": false
                },
                "interaction": {
                    "hideEdgesOnDrag": true,
                    "keyboard": true,
                    "multiselect": true,
                    "navigationButtons": true
                }
            },
            "groups": null,
            "width": "100%",
            "height": "1000px",
            "idselection": {
                "enabled": false,
                "style": "width: 150px; height: 26px",
                "useLabels": true,
                "main": "Select by id"
            },
            "byselection": {
                "enabled": true,
                "style": "width: 150px; height: 26px",
                "multiple": true,
                "hideColor": "rgba(200,200,200,0.5)",
                "highlight": true,
                "variable": "PRODUCT",
                "main": "Select by PRODUCT",
                "values": [
                    "LUNCH BAG RED RETROSPOT",
                    "LUNCH BOX WITH CUTLERY RETROSPOT",
                    "PLASTERS IN TIN CIRCUS PARADE",
                    "PLASTERS IN TIN SPACEBOY",
                    "PLASTERS IN TIN WOODLAND ANIMALS",
                    "RABBIT NIGHT LIGHT",
                    "RED RETROSPOT MINI CASES",
                    "RED TOADSTOOL LED NIGHT LIGHT",
                    "ROUND SNACK BOXES SET OF4 WOODLAND",
                    "SET/6 RED SPOTTY PAPER CUPS"
                ]
            },
            "main": {
                "text": "Products sharing transactions",
                "style": "font-family:Georgia, Times New Roman, Times, serif;font-weight:bold;font-size:20px;text-align:center;"
            },
            "submain": {
                "text": "Link indicates how many transactions each product shared",
                "style": "font-family:Georgia, Times New Roman, Times, serif;font-size:12px;text-align:center;"
            },
            "footer": null,
            "background": "rgba(0, 0, 0, 0)",
            "igraphlayout": {
                "type": "square"
            },
            "highlight": {
                "enabled": true,
                "hoverNearest": false,
                "degree": 0,
                "algorithm": "all",
                "hideColor": "rgba(200,200,200,0.5)",
                "labelOnly": true
            },
            "collapse": {
                "enabled": false,
                "fit": false,
                "resetHighlight": true,
                "clusterOptions": null,
                "keepCoord": true,
                "labelSuffix": "(cluster)"
            },
            "legend": {
                "width": 0.1,
                "useGroups": true,
                "position": "left",
                "ncol": 1,
                "stepX": 100,
                "stepY": 100,
                "zoom": false
            },
            "tooltipStay": 300,
            "tooltipStyle": "position: fixed;visibility:hidden;padding: 5px;white-space: nowrap;font-family: verdana;font-size:14px;font-color:#000000;background-color: #f5f4ed;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;border: 1px solid #808074;box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);"
        },
        "evals": [],
        "jsHooks": []
    }</script>
</body>

</html>